#achievements {
  text-align: center;
}

#achievements .Achievements-container {
  margin-top: 20px;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#achievements .slick-track {
  display: flex !important;
  align-items: center;
}

#achievements .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#achievements .slide {
  width: 100%;
  max-width: 600px;
  background: var(--bg-accent);
  padding: 20px 30px;
  border-radius: 10px;
  border: 0.5px solid var(--border-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

#achievements .profile {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

#achievements .content {
  flex: 1;
  padding: 20px 0;
}

#achievements .buttons-container {
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

#achievements .btn {
  background: var(--bg-accent);
  border: 1px solid var(--border-primary);
  border-radius: 50%;
  padding: 10px;
  transition: background 0.3s;
}

#achievements .btn:hover {
  background: var(--bg-primary);
}
